/nbproject/
/vendor/
/dist/
/.vscode/
/.idea/
/.env
/composer.lock
/yarn.lock
/node_modules/
src/node_modules/
src/node_modules/.yarn-integrity
src/node_modules/.yarn-state.yml
src/node_modules/.yarn-integrity
src/node_modules/.bin/
/js/main-built.*
/yarn-error.log
/package-lock.json
/.yarn/
