/nbproject/
/vendor/
/.vscode/
/.idea/
/.env
/composer.lock
/yarn.lock
/node_modules/
/node_modules/.yarn-integrity
/node_modules/.yarn-state.yml
/node_modules/.yarn-integrity
/node_modules/.bin/
/yarn-error.log
/package-lock.json
/.yarn/
